USE [master]
GO
/****** Object:  Database [AuxiliarCalificacionesDB]    Script Date: 24/04/2026 3:19:29 ******/
CREATE DATABASE [AuxiliarCalificacionesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AuxiliarCalificacionesDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLDEVELOPER\MSSQL\DATA\AuxiliarCalificacionesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AuxiliarCalificacionesDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLDEVELOPER\MSSQL\DATA\AuxiliarCalificacionesDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AuxiliarCalificacionesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AuxiliarCalificacionesDB]
GO
/****** Object:  Table [dbo].[Parametros]    Script Date: 24/04/2026 3:19:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parametros](
	[ParametroID] [int] IDENTITY(1,1) NOT NULL,
	[Escala] [nvarchar](20) NULL,
	[NotaMinimaAprobatoria] [decimal](5, 2) NULL,
	[PesoACD] [decimal](5, 2) NULL,
	[PesoAPEX] [decimal](5, 2) NULL,
	[PesoAAUT] [decimal](5, 2) NULL,
	[PeriodoActual] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ParametroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asignaturas]    Script Date: 24/04/2026 3:19:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asignaturas](
	[AsignaturaID] [int] IDENTITY(1,1) NOT NULL,
	[CodigoAsignatura] [nvarchar](20) NOT NULL,
	[NombreAsignatura] [nvarchar](150) NOT NULL,
	[Creditos] [int] NOT NULL,
	[RA_Especifico] [nvarchar](max) NULL,
	[DocenteID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AsignaturaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CodigoAsignatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiantes]    Script Date: 24/04/2026 3:19:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiantes](
	[EstudianteID] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [nvarchar](15) NOT NULL,
	[NombreCompleto] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EstudianteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calificaciones]    Script Date: 24/04/2026 3:19:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calificaciones](
	[CalificacionID] [int] IDENTITY(1,1) NOT NULL,
	[EstudianteID] [int] NOT NULL,
	[AsignaturaID] [int] NOT NULL,
	[PeriodoAcademico] [nvarchar](100) NOT NULL,
	[ACD] [decimal](5, 2) NULL,
	[APEX] [decimal](5, 2) NULL,
	[AAUT] [decimal](5, 2) NULL,
	[TotalCalculado]  AS (([ACD]*(0.35)+[APEX]*(0.35))+[AAUT]*(0.30)) PERSISTED,
	[FechaActualizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CalificacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EstudianteID] ASC,
	[AsignaturaID] ASC,
	[PeriodoAcademico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_BoletinCalificaciones]    Script Date: 24/04/2026 3:19:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Vista para consultar de manera rápida el Boletín de Calificaciones con estado
CREATE VIEW [dbo].[vw_BoletinCalificaciones] AS
SELECT 
    e.Cedula,
    e.NombreCompleto AS Estudiante,
    a.NombreAsignatura AS Asignatura,
    c.ACD,
    c.APEX,
    c.AAUT,
    c.TotalCalculado AS PromedioFinal,
    CASE 
        WHEN c.TotalCalculado >= (SELECT TOP 1 NotaMinimaAprobatoria FROM Parametros) THEN 'APROBADO' 
        ELSE 'REPROBADO' 
    END AS EstadoAcadémico
FROM Calificaciones c
INNER JOIN Estudiantes e ON c.EstudianteID = e.EstudianteID
INNER JOIN Asignaturas a ON c.AsignaturaID = a.AsignaturaID;
GO
/****** Object:  Table [dbo].[MapaCurricular]    Script Date: 24/04/2026 3:19:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MapaCurricular](
	[MapaID] [int] IDENTITY(1,1) NOT NULL,
	[RACarreraID] [int] NOT NULL,
	[AsignaturaID] [int] NOT NULL,
	[NivelAportacion] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MapaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RACarreraID] ASC,
	[AsignaturaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RACarrera]    Script Date: 24/04/2026 3:19:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RACarrera](
	[RACarreraID] [int] IDENTITY(1,1) NOT NULL,
	[CodigoRA] [nvarchar](10) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[NivelEstrategico] [nvarchar](20) NULL,
	[AreaDeConocimiento] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[RACarreraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CodigoRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 24/04/2026 3:19:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[CodigoDocente] [nvarchar](20) NOT NULL,
	[NombreCompleto] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Contrasena] [nvarchar](255) NOT NULL,
	[Rol] [nvarchar](20) NOT NULL,
	[TituloAcademico] [nvarchar](100) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CodigoDocente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Asignaturas] ADD  DEFAULT ((4)) FOR [Creditos]
GO
ALTER TABLE [dbo].[Calificaciones] ADD  DEFAULT ((0.00)) FOR [ACD]
GO
ALTER TABLE [dbo].[Calificaciones] ADD  DEFAULT ((0.00)) FOR [APEX]
GO
ALTER TABLE [dbo].[Calificaciones] ADD  DEFAULT ((0.00)) FOR [AAUT]
GO
ALTER TABLE [dbo].[Calificaciones] ADD  DEFAULT (getdate()) FOR [FechaActualizacion]
GO
ALTER TABLE [dbo].[Parametros] ADD  DEFAULT ('sobre10') FOR [Escala]
GO
ALTER TABLE [dbo].[Parametros] ADD  DEFAULT ((7.00)) FOR [NotaMinimaAprobatoria]
GO
ALTER TABLE [dbo].[Parametros] ADD  DEFAULT ((35.00)) FOR [PesoACD]
GO
ALTER TABLE [dbo].[Parametros] ADD  DEFAULT ((35.00)) FOR [PesoAPEX]
GO
ALTER TABLE [dbo].[Parametros] ADD  DEFAULT ((30.00)) FOR [PesoAAUT]
GO
ALTER TABLE [dbo].[Parametros] ADD  DEFAULT ('2025-2026 / Periodo 1') FOR [PeriodoActual]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Asignaturas]  WITH CHECK ADD FOREIGN KEY([DocenteID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Calificaciones]  WITH CHECK ADD FOREIGN KEY([AsignaturaID])
REFERENCES [dbo].[Asignaturas] ([AsignaturaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Calificaciones]  WITH CHECK ADD FOREIGN KEY([EstudianteID])
REFERENCES [dbo].[Estudiantes] ([EstudianteID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MapaCurricular]  WITH CHECK ADD FOREIGN KEY([AsignaturaID])
REFERENCES [dbo].[Asignaturas] ([AsignaturaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MapaCurricular]  WITH CHECK ADD FOREIGN KEY([RACarreraID])
REFERENCES [dbo].[RACarrera] ([RACarreraID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MapaCurricular]  WITH CHECK ADD CHECK  (([NivelAportacion]='BAJO' OR [NivelAportacion]='MEDIO' OR [NivelAportacion]='ALTO'))
GO
ALTER TABLE [dbo].[RACarrera]  WITH CHECK ADD CHECK  (([NivelEstrategico]='BAJO' OR [NivelEstrategico]='MEDIO' OR [NivelEstrategico]='ALTO'))
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD CHECK  (([Rol]='coordinador' OR [Rol]='docente'))
GO
USE [master]
GO
